@import '../../assets/stylesheets/colors';

.footer {
  background-color: $primary-theme-background-color;
  border-top: 1px solid #E6EAEA;
  padding-top: 25px;
  padding-bottom: 25px;

  ul {
    display: flex;
  }

  li {
    margin-right: 20px;
    list-style: none;
  }

  a {
    color: $primary-theme-background-text;
    &:hover {
      color: rgba(255,255,255,0.8);
    }
  }
}