<p><a data-open="newPostModal">Add new post</a></p>

<% if @posts %>
  <h2>Newsfeed</h2>
  <%= render @posts %>
<% else %>
  No posts yet
<% end %>

<div class="reveal" id="newPostModal" data-reveal>
  <h2>New post</h2>
  <%= render 'posts/form', post: Post.new %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
