<% if @posts %>
  <h2>Newsfeed</h2>
  <%= render @posts %>
<% else %>
  No posts yet
<% end %>

<%= content_for :right_sidebar do %>
  <h2>New post</h2>
  <%= render 'posts/form', post: Post.new %>
<% end %>